@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

:root { 
    --color-hight: #164863;
    --color-hard: #427D9D;
    --color-medium: #9BBEC8; 
    --color-little: #DDF2FD;
    --font-roboto: 'Roboto', sans-serif;
    --font-quicksand:'Quicksand', sans-serif; 
    --font-playfair:'Playfair Display', serif;
}
* { 
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--font-roboto);
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: center;
    background-color: var(--color-hard);
    padding: 2rem 0;
    font-family:'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    display: inline;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom:2rem;
    padding-top:3.5rem;
    margin: 2rem;
    border: 1px solid white;
    border-radius: 1%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 4rem;

}

a:hover {
    color: #ddd;
}

main { 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border: 1px solid var(--color-hard);
    padding: 3rem;
}
.container { 
    display: flex;
    gap: 5rem;
    font-size: 2.5rem;
    margin: 2rem;
    font-family:'Times New Roman', Times, serif; 
}
.form-control { 
    width: 12rem;
    height: 2rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-hard);
}
.button_kiritish { 
    width: 10rem;
    height: 3rem;
    border: 1px solid var(--color-hight);
    margin: 3rem;
    font-size: 2.5rem;
    background-color: var(--color-hard);
    color: white !important;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;

}
table { 
    border: 1px solid var(--color-hard);
    width: 80%;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: var(--color-hard);
    font-family:'Times New Roman', Times, serif;
}
table td { 
    border: 1px solid black;
    background-color: var(--color-medium);
}
.table_header { 
    font-weight: bold;
}
